CppCheckResults.xml
DocasnyTreegen.cscope_file_list
dokumenty/cppcheckProjekt.cppcheck
#globals.*
mingwTreegen.exe
DocasnyTreegen.exe
DocasnyTreegen.layout
.objs/
bin/Debug/
obj/
Dokumenty k projektu/Roaming_Codeblocks_zaloha/